$white: #ffffff;
$grey: #efefef;

$body: rgba(0,0,0,.87);
$copy: rgba(0,0,0,.54);
$bodyInverse: rgba(255,255,255,.87);
$copyInverse: rgba(255,255,255,.54);

$brandColor: #0094D1;
$brandColorActive: #0776a5;
$border: #E0E0E0;

$mb: 1.5rem;
$radius: 4px;

$sizeL: 1.25rem;
$sizeM: 1rem;
$sizeS: .875rem;
$sizeXS: .75rem;

$boxShadow: 0 4px 8px rgba(0,0,0,.38);
$transition: all ease .1s;
$transitionActive: all ease .3s;
