@import 'base';

.container {
  max-width: 630px;
}

html {
  position: relative;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: $white;
  max-width: 600px;
  min-height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  &.login, &.daftar {
    background-color: #1f2532;
    background-image: -webkit-linear-gradient(107deg, #4c68b1, black 98%);
    background-image: linear-gradient(343deg, #4c68b1, black 98%);
    #header .dashboard-menu-toggle {
      background: none;
    }
  }
  &.daftar {
    #header .dashboard-menu-toggle {
      background: $body;
    }
  }
  &.collapse {
    display: block !important;
  }
  &.show {
    .off-canvas {
      transform: translateX(0);
    }
  }
}

#header {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  right: 0;
  @supports ((position: -webkit-sticky) or (position: sticky)) {
		position: -webkit-sticky;
    position: sticky;
  }
  + * {
    margin-top: 60px;
    @supports ((position: -webkit-sticky) or (position: sticky)) {
      margin-top: 0;
    }
  }
  .dashboard-menu-toggle {
    display: flex;
    background: $body;
    align-items: center;
    h1 {
      color: $bodyInverse;
      margin: 0;
      font-size: $sizeM;
      text-align: center;
      flex: 1;
      padding-right: 60px;
      white-space: nowrap;
    }
    .dashboard-toggle {
      display: block;
      cursor: pointer;
      padding: 0;
      text-align: center;
      width: 60px;
      line-height: 60px;
      margin: 0;
      color: $white;
      .fa {
        font-size: $sizeM*1.5;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
}


#mainmenu {
  padding-bottom: 3rem;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: block;
      a {
        display: block;
        padding: 0 1.5rem;
        font-size: $sizeM;
        line-height: 40px;
        color: #fff;
        .fa {
          margin-right: .75rem;
          color: $brandColor;
        }
      }
    }
  }
}

.dashboard-menu {
  position: fixed;
  z-index: 98;
  top: 0;
  overflow: hidden;
  overflow-y: auto;
  width: 260px;
  bottom: 0;
  height: 100vh !important;
  transition: all 0.1s cubic-bezier(0.685, 0.0473, 0.346, 1);
  opacity:0;
  visibility: hidden;
  background-color: #1f2532;
  background-image: -webkit-linear-gradient(107deg, #4c68b1, black 82%);
  background-image: linear-gradient(343deg, #4c68b1, black 82%);
  box-shadow: 0 0 1.5rem rgba(0,0,0,.3);
  &.show {
    opacity: 1;
    visibility: visible;
  }
  .close-dashboard-menu {
    text-align: center;
    padding: 1.5rem;
    position: relative;;
    h1 {
      margin: 0;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
    }
    p {
      color: $bodyInverse;
    }
    a {
      width: 100%;
      color: $white;
      margin: 0;
      .fa {
        width: 60px;
        height: 60px;
        font-size: $sizeM*1.5;
        line-height: 60px;
      }
      &.close-menu {
        position: absolute;
        left: 0;
        top: 0;
        text-align: left;
      }
    }
  }
}

.dashboard-wrapper {
  position: fixed;
  top: 0;
  height: 100vh !important;
  z-index: 90;
  background: rgba(0,0,0,.3);
  display: none;
  width: 100%;
  max-width: 600px;
  &.show {
    display: block;
  }
}

.login-widget {
  padding: 0 1.5rem;
  margin-bottom: 3rem;
  .login-logo {
    text-align: center;
    img {
      max-height: 48px;
    }
    margin-bottom: $mb;
  }
  .login-news {
    margin-bottom: $mb;
    marquee {
      color: $white;
      font-size: $sizeS;
    }
  }
  .login-form {
    label {
      color: $bodyInverse;
    }
    .form-control {
      color: $bodyInverse;
      border-bottom-color: $bodyInverse;
    }
    .btn {
      font-size: $sizeM;
      font-weight: bold;
      text-transform: uppercase;
      + .btn {
        margin-top: $mb;
      }
    }
  }
}

label {
  font-size: $sizeXS;
  color: $copy;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.form-group {
  margin-bottom: $mb;
}
.captcha {
  margin-bottom: .5rem;
  img {
    width: 100%;
  }
}
.form-control {
  color: $copy;
  font-size: $sizeS;
  background: none;
  border-radius: 0;
  border: none;
  padding: 0;
  border-bottom: 1px solid $copy;
  &:hover, &:focus {
    background: none;
  }
}

#content {
  padding: 1.5rem 0;
}

.nav-pills {
  display: flex;
  margin: 0;
  li.nav-item {
    flex: 1;
    text-align: center;
    .nav-link {
      border-radius: 0;
      border-bottom: 2px solid transparent;
      color: $copy;
      text-transform: uppercase;
      font-size: $sizeS;
      &.active {
        background: none;
        border-bottom-color: $brandColor;
        color: $copy;
      }
    }
  }
}
.tab-content {
  background: $grey;
  .tab-pane {
    padding: .75rem;
  }
}

ul.block-link {
  margin: 0;
  padding: 0;
  li {
    display: block;
    + li {
      margin-top: .5rem;
    }
    a:not(.btn-primary) {
      display: block;
      font-size: $sizeS;
      text-transform: uppercase;
      color: $copy;
      padding: .75rem 1rem;
      background: $white;
      transition: $transition;
      &:hover, &:focus {
        box-shadow: $boxShadow;
      }
      .fa {
        color: $brandColor;
        margin-right: .75rem;
      }
    }
    .btn {
      &.btn-light {
        background: $grey;
      }
    }
    &.disabled {
      a {
        opacity: .5;
        .fa {
           color: $body;
        }
      }
    }
  }
}

.table-widget {
  table {
    th {
      font-size: $sizeS;
      text-align: center;
      font-weight: bold;
      background: $brandColor;
      color: $white;
      border-width: 1px;
    }
    td {
      font-size: $sizeXS;
    }
  }
}

#footer {
  padding: 1.5rem 0;
  .copyright {
    text-align: center;
    color: $copy;
    font-size: $sizeS;
  }
}

.section {
  margin-bottom: $mb;
}

.product-info {
  h5 {
    font-size: $sizeS;
    margin: 0 0 .75rem;
    color: $body;
  }
  h2 {
    font-size: $sizeL;
    margin: 0 0 .75rem;
    color: $body;
    font-weight: bold;
    .fa {
      font-size: $sizeL;
      margin-right: 1.5rem;
    }
  }
  .fa {
    margin-right: .75rem;
    color: $brandColor;
  }
}

.breadcrumbs {
  padding: 0;
  margin: 0 0 $mb;
  display: flex;
  li {
    display: block;
    + li {
      margin-left: .5rem;
    }
  }
}

.product-content {
  p {
    font-size: $sizeXS;
  }
}